body{
  overflow-x: hidden;
  margin: 0px;
}

a:hover,
a:focus,
a:active,
a.active{
    outline: 0;
}

h1{
  color: #80b3ff;
  font-size: 40px;
  font-weight: bold;
}

header {
  background-image: url("img/keyboard.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: black;
  /*text-shadow: black 0.15em 0.15em 0.15em;*/
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0;
    }
    .navbar-default .navbar-brand{
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    /*.navbar-default.navbar-shrink {
        background-color: #222;
        padding: 10px 0
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }*/
}

.headshot {
  text-align: center;
}

h2.home {
  color: white;
  right: 0;
  bottom: 0;
  font-size: 16px;
}

.experience_img img{
  position: relative;
  width: 200px;
  height: 200px;
}

h2.e{
  color: #80b3ff;
  font-weight: bold;
}

.big_item{
  padding-bottom: 400px;

}

p.e{
  line-height: 30px;
  font-size: 17px;
}

.big_item h2{
  color: #80b3ff;
  font-weight: bold;
}

.big_item h3{
  font-weight: bold;
}

.contact_body img{
  height: 200px;
  width: 200px;
}
p.c {
  padding-top: 65px;
  font-size: 20px;
}

p.a {
  font-size: 20px;
  line-height: 2;
}

.project_body{
  padding-bottom: 300px;

}

.navbar{
  padding: 0px;
}
.title{
  font-family: Dancing Script;
  font-size: 60px;
  font-weight: bold;
  color: black;
  padding-top: 100px;
}

.bg-grey{
  background-color: #f6f6f6;
}
.pic1{
  width: 100px;
  height: 100px;
  background-color: #f1f1f1 #80b3ff;
  color: #fff;
  position: inherit;
  border-radius: 100%;
  border: 7px solid #80b3ff;
  text-align: center
}

.GtrackerPic{
  height:100%;
  width:100%;
}
/*.contact-btn{
  padding-left:200px;
}*/
.about{
  padding: 0px;
  padding-top: 10px;
}
.about img{
  width: 250px%;
  height: 355px;
  background-color: #f1f1f1;
  color: #fff;
  border-radius: 100%;
  border: 7px solid #80b3ff;
}
.education2, .projects, .contact, .about, .personal, .experience{
  padding-bottom: 60px;
}


.navbar{
  margin-bottom: 0;
  background-color: #80b3ff; /*blue*/
  z-index: 9999;
  font-size: 14px;
  letter-spacing: 3px;
  width: auto;
  height: auto
  padding: 0px;

}
.navbar li a, .navbar .navbar-brand{
  color: #fff !important;
}
.navbar-brand{
  letter-spacing: normal;
}
.navbar-nav li a:hover, .navbar-nav li.active a{
  color: #80b3ff !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
 border-color: transparent;
 color: #fff !important;
}

.main-tab-list > li.active{
  background: #80b3ff;
  position: relative;
}

.main-tab-list li{
    padding: 10px 10px 10px 10px;
    border: 1px solid#eee;
    width: 150px;
    /*background: #FBFBFB;*/


}
.main-tab-list li a{
    padding: 0px;
}

#projects .project-item {
    margin: 0 0 15px;
    right: 0
}
#projects .project-item .project-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}
#projects .project-item .project-link .project-hover {
    background: rgb(128, 179, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    /*transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;*/
}
#projects .project-item .project-link .project-hover:hover {
    opacity: .75;
}
#projects .project-item .project-link .project-hover .project-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}
#projects .project-item .project-link .project-hover .project-hover-content i {
    margin-top: -12px
}
#projects .project-item .project-link .project-hover .project-hover-content h3,
#projects .project-item .project-link .project-hover .project-hover-content h4 {
    margin: 0
}
#projects .project-item .project-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}
#projects .project-item .project-caption h4 {
    text-transform: none;
    margin: 0
}
#projects .project-item .project-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0
}
#projects * {
    z-index: 2
}

h2.p {
  color: #80b3ff;
  font-weight: bold;
  font-size: 40px;
  float:left;
}
h3.p {
  font-weight: bold;
  font-size: 23px;
  float:right;
  padding-top: 11px;
}

p.p{
  padding-top: 100px;
  padding-left: 4px;
  font-size: 20px;
  line-height: 1.9;
}

hr.style1 {
	border-top: 2px solid #80b3ff;
  border-bottom: 2px solid #fff;
}
hr.style1:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 2px solid #80b3ff;
	border-bottom: 2px solid #fff;
}


.projectPic img{
  width: 100%;
  height: 100%;
  background-color: #80b3ff;
  /*padding-left: 50px;*/

}

.projectPic img:hover{
  background-color: #80b3ff;
  opacity: .7;
}

.carousel-pic img{
  width: 1300px;
  height: 700px;
}

.carousel-pic-2 img{
  width: 558px;
  height: 886px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
/*
